.button {

    align-items: center;
    border: none;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    display: inline-block;
    margin: 5px;
    font-size: 14px;
    transition-duration: 0.5s;
    cursor: grab;
  }
  
  .button1 {
    background-color: #b66da838; 
    color: rgb(49, 31, 31); 
   border-radius: 10px;
  }
  
  .button1:hover {
    background-color: rgb(233, 175, 228);
    color: rgb(102, 6, 79);
  }

  .center{
    align-items: center;
   margin-left: 45%;
   margin-top: 50%;
   position: absolute;
  }


